.top-to-btm {
    position: relative;
}

.icon-position {
    position: fixed;
    bottom: 100px;
    left: 25px;
    z-index: 20;
}

.icon-style {
    background-color: #5659A9;
    border-radius: 50%;
    height: 42px;
    width: 42px;
    color: #fff;
    cursor: pointer;
    animation: movebtn 3s ease-in-out infinite;
    transition: all .5s ease-in-out;
}

.icon-style:hover {
    animation: none;
    background: #fff;
    color: #5659A9;
    border: 2px solid #5659A9;
}

@keyframes movebtn {
    0% {
        transform: translateY(0px);
    }
    75% {
        transform: translateY(25px);
    }
    100% {
        transform: translateY(0px);
    }
}